<form name="userInputForm" ng-submit="insertUser()" novalidate>
   <div class="form-group">
      <label class="control-label" for="Name">Name</label>
      <input id="Name" type="text" name="Name" class="form-control" ng-model="newUser.name" ng-pattern="/^[a-zA-Z]*$/" ng-minlength="2">
   </div>

   <div class="form-group">
      <label class="control-label" for="dateOfBirth">Date of birth</label>
      <input id="dateOfBirth" type="text" name="dateOfBirth" class="form-control" ng-model="newUser.dob" placeholder="99/99/9999" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/">
   </div>

   <div class="form-group">
      <label class="control-label" for="email">Email</label>
      <input id="email" type="text" name="email" class="form-control" ng-model="newUser.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
   </div>

   <div class="form-group">
      <label class="control-label" for="noc">Number of Children</label>
      <input id="noc" type="text" name="noc" class="form-control" ng-model="newUser.noc" ng-pattern="/^\d+$/">
   </div>

   <button type="submit" class="btn btn-primary" ng-disabled="userInputForm.$invalid">Submit</button> 
</form>
{{message}}