<div class="container">
	<div class="row header">
		<h1>{{welcome}}</h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<h2>Add a new user</h2>
			<div user-input-form></div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<h2>Available users</h2>
			<div user-table perPage="15"></div>
		</div>
	</div>
</div>