<table class="table table-striped">
   <thead>
   	<tr>
   		<th colspan="2">Search: <input type="text" ng-model="query" class="search-input"></th>
         <th colspan="2">Ordered by {{sortExpr}}</th>
   	</tr>
      <tr>
         <th ng-click="changeSort('name')">Name</th> 
         <th ng-click="changeSort('dob')">Date of Birth</th> 
         <th ng-click="changeSort('email')">Email</th> 
         <th ng-click="changeSort('noc')">Number Of Children</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="user in usersPage | orderBy:sortExpr | filter: search track by $index">
         <td>{{user.name}}</td> <td>{{user.dob}}</td> <td>{{user.email}}</td> <td>{{user.noc}}</td>
      </tr>
   </tbody>
</table>
<div ng-repeat="i in getNumber(numberOfPages) track by $index" class="pagination">
    <button ng-click="changePage($index+1)" ng-class="{'active': $index+1 == page}">{{$index+1}}</button>
</div>