body{
	background-color:white;
}
table{
	border:1px solid #DDDDDD
}
th{
	cursor:pointer;
}
.pagination .active{
	background-color:#DBDBDB;
	outline:none;
}
.search-input{
	border: none;
    border-bottom: 2px solid grey;
    outline: none;
}
.header{text-align:center;}
h2{
	text-align:center;
}